body{
    margin: 0;
    font-family: "Nunito", sans-serif;
    letter-spacing:1px;
    font-size: 12pt;
    color:white;
    background-color: black;
} 


.navbar {
 font-weight: 100;
 padding:0px;
  overflow: hidden;
  background-color: black;
   letter-spacing: .5em;
     font-variant-caps: all-petite-caps
}

h1 {
 float:left;
 font-size: 75px;
  color: white;
  text-align: center;
  padding: 0 16px;
  text-decoration: none;
  margin-top:-10px;
 font-family: "Oswald",sans-serif;
 }

h2{
  float:left;
  font-size: 20px;
  color: white;
  text-align: left;
  padding: 20px 10px;
  margin-top: 20px;

}

p {
text-align: left;
font-size: 25px;
letter-spacing: 4px;
font-weight: 100;
color: whitesmoke;
font-variant-caps: all-petite-caps;
}

p:hover {
 color: sienna;
 font-weight: 700;
}

.container2 {
 align-content: center;
 justify-content: center;
 position: absolute;
 z-index:-1;
 width: 80%;
 height: auto;
 padding: 200px 100px 50px;
 margin: 50px;
}

.navbar a {
  float: right;
  font-size: 20px;
  color: white;
  padding: 40px 20px;
  text-decoration: none;
}

.navbar a:hover{
background-color: white;
color:black;
}

.container {
    display:flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    margin:20px 20px;
}

img:hover {
    display: block;
    filter:contrast(110%)
}

img {
    padding:10px 10px;
    width: 60%;
    height: auto;
    filter: grayscale(100%)
}
  
