html {
    box-sizing: border-box;
}


body {
    background-color: lightgray;
    margin: 0px;
}

.pink {
    width: 500px;
    height: 200px;
    background-color: #eccfd1;
    display: block;
}

.navy {
    width: 500px;
    height: 200px;
    background-color: #212c48;
    display: block;
   
}

.white {
    width: 50px;
    height: 800px;
    background-color: #c9c9d5;
    display: inline-block;
    margin:-3px;
}

.black {
    width: 50px;
    height: 800px;
    background-color: #161922;
    display: inline-block;
    margin:-3px;
}

.red {
    width: 100px;
    height: 800px;
    Background-color: #90142e;
    display: inline-block;
    margin: -3px;
}

.navytwo {
    width: 100px;
    height: 800px;
    Background-color: #212c48;
    display:inline-block;
    margin: -3px;
}

.paintblock {
    display: inline-block;
    margin: -3px;
}
